{%form 'cart', cart%}
<h1>Cart</h1>

{% for item in cart.items %}
    <div>
        <img src="{{ item.image | img_url: width:200 }}" />
        <h2>{{ item.title }}</h2>
        <p>{{ item.price | money }}</p>
    </div>
{%endfor%}
 
<hr>
<p>Total: {{ cart.total_price | money }}</p>
<button type="submit" name="checkout"> Checkout </button> 

{%endform%}